@font-face {
    font-family: "JetBrains Mono";
    src: url("./JetBrainsMono-Variable.woff2") format("woff2"),
        url("./JetBrainsMono-Variable.woff") format("woff");
    font-weight: 100 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("./JetBrainsMono-VariableItalic.woff2") format("woff2"),
        url("./JetBrainsMono-VariableItalic.woff") format("woff");
    font-weight: 100 800;
    font-style: italic;
    font-display: swap;
}
