@font-face {
    font-family: "Quicksand";
    src: url("./Quicksand-Variable.woff2") format("woff2"),
        url("./Quicksand-Variable.woff") format("woff");
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
}
