@font-face {
    font-family: "DINish";
    src: url("./DINish-Variable.woff2") format("woff2");
    font-weight: 300 900;
    font-style: normal;
    font-stretch: 75% 125%;
    /* This property is the replacement for font-stretch, isn’t supported by any browsers yet though. */
    font-width: 75% 125%;
    font-display: swap;
}

@font-face {
    font-family: "DINish";
    src: url("./DINish-Variable.woff2") format("woff2");
    font-weight: 300 900;
    font-style: italic;
    font-variation-settings: "slnt" -12;
    font-stretch: 75% 125%;
    /* This property is the replacement for font-stretch, isn’t supported by any browsers yet though. */
    font-width: 75% 125%;
    font-display: swap;
}
